WindowsFormsApp1/Connected Services/ServiceMetierAuthentification/AuthentificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthentificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60827/Wcf/AuthentificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60827/Wcf/AuthentificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60827/Wcf/AuthentificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierRvMedical.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentificationService_AddFirstUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFirstUser" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_AddFirstUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFirstUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_CheckAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAdmin" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_CheckAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_UserInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UserInformation" />
  </wsdl:message>
  <wsdl:message name="IAuthentificationService_UserInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentificationService">
    <wsdl:operation name="AddFirstUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentificationService/AddFirstUser" message="tns:IAuthentificationService_AddFirstUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentificationService/AddFirstUserResponse" message="tns:IAuthentificationService_AddFirstUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentificationService/CheckUser" message="tns:IAuthentificationService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentificationService/CheckUserResponse" message="tns:IAuthentificationService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentificationService/CheckAdmin" message="tns:IAuthentificationService_CheckAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentificationService/CheckAdminResponse" message="tns:IAuthentificationService_CheckAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentificationService/UserInformation" message="tns:IAuthentificationService_UserInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentificationService/UserInformationResponse" message="tns:IAuthentificationService_UserInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthentificationService" type="tns:IAuthentificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFirstUser">
      <soap:operation soapAction="http://tempuri.org/IAuthentificationService/AddFirstUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IAuthentificationService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAdmin">
      <soap:operation soapAction="http://tempuri.org/IAuthentificationService/CheckAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInformation">
      <soap:operation soapAction="http://tempuri.org/IAuthentificationService/UserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthentificationService">
    <wsdl:port name="BasicHttpBinding_IAuthentificationService" binding="tns:BasicHttpBinding_IAuthentificationService">
      <soap:address location="http://localhost:60827/Wcf/AuthentificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>